{% extends "proj5FinTracker/layout.html" %}
{% load static %}




{% block body %}
	<div id='left-div'> 
		<input type="text" id="gyf-year">>nButton</input>
		<br />
		<button type="submit" id="analyze-year" form="graph-by-year" class="btn btn-primary" value="Submit">>View-By-Year</button>
	</div>
	<div class="container text-center bg-success">	
	
		
		<h3><span id='top-heading'> *top heading* </span></h3>
		<span id='bottom-heading'><a href="{% url 'vanalysis' %}">View-All-Data</a></span>
		
	</div>
	<span class="container" id='section1'></span>	
	<div class="container text-center bg-primary text-white" id='sub1'></div>
	<span class="container" id='section2'></span>
	<div class="container text-center bg-primary text-white" id='sub2'></div>
	<div class="container bg-info text-white text-center" id='sub2b'>
	  <table class="table table-bordered table-striped" id="sub2b-table">
			<caption id="sub2b-caption"></caption>
			<tbody id='sub2b-target'></tbody>
	  </table>
		  
	
	</div>
	<div class="container text-center bg-secondary text-white" id='sub2c'></div>
	<span class="container" id='section4'></span>
	<span class="container" id='section5'></span>
	<span class="container" id='section6'></span>
	
	<div class="container" id='displayDiv'>
	   <table class="container" id='displayTable'>
		<caption class="right"	id="table_heading"></caption>
		  <tbody id='displayBody'>
		  </tbody>
	   </table>
	</div>

{% endblock %}

{% block script %}
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="{% static 'FinTracker/displayLib.js' %}"></script> 
	 <script src="{% static 'FinTracker/analysis.js' %}"></script>	 
{% endblock %}