{% extends "proj5FinTracker/layout.html" %}
{% load static %}




{% block body %}
	<div class="container text-center bg-success">
	<h3><span id='top-heading'>top heading</span></h3>	
	</div>
	<span class="container" id='section1'></span>	
	<span class="container" id='section2'></span>
	<div class="container text-center bg-primary text-white" id='section3'></div>
	<span class="container" id='section4'></span>
	<span class="container" id='section5'></span>
	<span class="container" id='section6'></span>
	<div class="container" id='displayDiv'>
	   <table class="container" id='displayTable'>
		  <tbody id='displayBody'>
		  </tbody>
	   </table>
	</div>
{% endblock %}

{% block script %}
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="{% static 'FinTracker/displayLib.js' %}"></script> 
	 <script src="{% static 'FinTracker/analysis.js' %}"></script>	 
{% endblock %}