{% extends "proj5FinTracker/layout.html" %}
{% load static %}

{% block whiteli %}	
	
	<li id='navyear'><a href="#">Year View</a></li>	
	<li id='navepoch'><a href="#">Epoch View</a></li>
	

{% endblock %}

{% block body %}

<br />
<div class="container-fluid">
	
	<div class="row">
		<div class="col-xs-6">
				<div class="form-group container-fluid" id="findby-form">
					<label for="searchrange">To compare, enter 2 terms in the boxes. (e.g. 2021, 10-2020, 23-02-2021).</label>
					<form id="compare-form" name="searchrange" method="post">
						{{ compareform.as_p }}
												
						{% csrf_token %}
					
					</form>
					<button type="submit" id="compare-button" form="compare-form" class="btn btn-primary" value="Compare!">Compare!</button>
				</div>	
				
				
				
		</div>
		
		<div class="col-xs-4">
			<h2><strong> 
				> Click <br /><br />
				<span id="by-year"> > By Year </span><br />
				<span id="by-month"> > By Month </span><br />
				<span id="by-cat"> > By Category </span><br />
			</strong></h2>						
		</div>
	
	</div>
		
</div>
<br />
<div class="container-fluid" >
    
</div>

<div class="container-fluid" >
	<h3><div class="panel alert alert-info panel-primary" id='cat-grp'>Various What-Have-You's</div></h3>
		
		<div id="leftPanel" class="col-xs-5">
		  <h3> <div class="panel alert alert-info panel-primary" id='term1'>  </div> </h3> 
		  <table class="table table-bordered table-striped" id="bits"></table>
		  <table class="table table-bordered table-striped" id="tran-table">
			  <thead>
				<tr>
					<th id="edit-column">Edit</th>
					<th id="edit-date">Date</th>
					<th id="edit-description">Description</th>
					<th id="edit-amount">Amount</th>
					<th id="edit-category">Category</th>
					<th id="edit-group">Group</th>
				</tr>
			  </thead>
			  <tbody id='target'>
			  </tbody>
		  </table>
		</div>
		<div id="rightPanel" class="col-xs-5">
			<h3><div class="panel alert alert-info panel-primary" id='term2'>Term2</div></h3>
			<table class="table table-bordered table-striped" id="bits"></table>
			<table class="table table-bordered table-striped" id="tran-table2">
			  <thead>
				<tr>
					<th id="edit-column">Edit</th>
					<th id="edit-date">Date</th>
					<th id="edit-description">Description</th>
					<th id="edit-amount">Amount</th>
					<th id="edit-category">Category</th>
					<th id="edit-group">Group</th>
				</tr>
			  </thead>
			  <tbody id='rTarget'>
			  </tbody>
		  </table>
			
			<div id="debit-pie"></div>
		</div>
	 
</div>

{% endblock %}


{% block script %}
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>	
	
	<script src="{% static 'FinTracker/displayLib.js' %}"></script> 
	<script src="{% static 'FinTracker/compare.js' %}"></script> 
		
	
{% endblock %}