{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
		<title>Fantastic Fin-Tracker</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">	
		<link type="text/css" href={% static 'FinTracker/styles.css' %} />
		
		
<head>
<body>

	{% block navigation %}
	{% endblock %}

	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid">
		
		<div class="navbar-header">
		  <a class="navbar-brand" href="{% url 'vmonth' %}">Fintrack</a>
		</div>
		
		<ul class="nav navbar-nav">
		  
		  <li id="navmonth"><a href="{% url 'vmonth' %}">Month View</a></li>
		  {% block whiteli %} {% endblock %}
		  
		  <li id="navinput"><a href="{% url 'vinput' %}">Input File</a></li>
		  
		  <li id="navrange"><a href="{% url 'vrange' %}">View by Range</a></li>
		  
		  <li id="navcompare"><a href="{% url 'vcompare' %}">Comparisons</a></li>
		  
		  <li id="navanalysis"><a href="{% url 'vanalysis' %}">Analysis</a></li>
		  
		  {% if user.is_authenticated %}
			 <li><a id="tlogout" href="{% url 'vlogout' %}">Logout</a></li>
		  {% else %}
			 <li><a id="tlogin" href="{% url 'vlogin' %}">Login</a></li>
			 <li><a id="reg" href="{% url 'vregister' %}">Register</a></li>
		  {% endif %}
			<Click <Click< <click cl<ick > ><click   
		</ul>
		click<
		<h4> 
		  {% block date_info %}
		  {% endblock %}
		</h4>
		click
	  </div>
	</nav>

	<h2><div class="container" id='userID' style="margin-top:50px">  </div></h2>
	
	<div>	
		{% block body %}
			<!--Body Content-->
		{% endblock %}
	</div>
		
	{% block script %}
	{% endblock %}
	
</body>
</html>

